body {
    background-color: white;
    padding: 6rem;
}

.title, .title-red {
    font-size: 8rem;
    font-family: 'aremat font', sans-serif;
    line-height: 100%;
}

.title-red {
    color: red;
}

.flex-column, .flex-column-aligned {
    display: flex;
    flex-direction: column;
}

.flex-column-aligned {
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row-aligned {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.buttons-container, .inputs-container {
    padding-top: 6em;
}

.btn-floating.action-button {
    height: 20rem;
    width: 20rem;
    background: #F7F7F7;
    align-items: center;
    display: flex;
    justify-content: center;
    box-shadow: unset;
}

.gap-6 {
    gap: 6rem;
}
.gap-3 {
    gap: 3rem;
}

.action-icon-container {
    display: none;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    border-radius: 50%;
    background: #F7F7F7;
    height: 16rem;
    width: 16rem;
}

.inputs-container {
    display: none;
}

.text-input.default {
    font-size: 4rem !important;
    height: unset !important;
    transition: unset !important;
    color: #565555;
    border-bottom: 0 !important;
    background-color: #F7F7F7 !important;
    border-radius: 0.2rem !important;
    padding: 1rem !important;
}

.text-input.default:focus {
    border-bottom: 0 !important;
    box-shadow: none !important;
}


.flex-1 {
    flex: 1;
    width: 100%;
}

.select {
    font-size: 4rem !important;
    height: unset !important;
    transition: unset !important;
    color: #565555;
    border-bottom: 0 !important;
    background-color: #F7F7F7 !important;
    border-radius: 0.2rem !important;
    padding: 1rem !important;
}
