body {
    background-color: white;
    padding: 10vw;
}

body.dark {
    background-color: black;

    .title {
        color: white;
    }

    .request-button {
        background-color: white !important;
        color: black !important;
    }
}

input.invalid {
    border: 0.2vw solid red !important;
}

.title, .title-red {
    font-size: 10vw;
    font-family: 'aremat font', sans-serif;
    line-height: 100%;
}

.title-red {
    color: red;
}

.flex-column, .flex-column-aligned {
    display: flex;
    flex-direction: column;
}

.width-100 {
    width: 100%;
}

.flex-column-aligned {
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row-aligned {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.distance-between {
    justify-content: space-between;
}

.btn-floating.action-button {
    height: 28vw;
    width: 28vw;
    background: #F7F7F7;
    align-items: center;
    display: flex;
    justify-content: center;
    box-shadow: unset;
}

.empty-div {
    height: 28vw;
    width: 28vw;
}



.action-icon-button {
    height: 18vw;
    width: 18vw;
}

.gap-6 {
    gap: 10vw;
}
.gap-3 {
    gap: 3vw;
}

.gap-20 {
    gap: 20vh;
}

.action-icon-container {
    display: none;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    border-radius: 50%;
    background: #F7F7F7;
    height: 22vw;
    width: 22vw;
}

.action-icon {
    height: 14vw;
    width: 14vw;
}

.inputs-container {
    display: none;
}

.text-input {
    width: 100%;
    border-radius: 2vw;
    color: #565555;
    background-color: #F7F7F7;
    font-size: 4vw;
    height: 8vw;
    padding: 0 2vw;
    border: 0.2vw solid transparent;
}

.text-input:focus-visible {
    outline: unset !important;
}


.text-input:focus {
    box-shadow: none !important;
    border: 0.2vw solid black;
}


.flex-1 {
    flex: 1;
    width: 100%;
}

.select {
    border: 0;
    width: 100%;
    border-radius: 2vw;
    color: #565555;
    background-color: #F7F7F7;
    font-size: 4vw;
    height: 8vw;
    padding: 0 2vw;
}

.request-button {
    background-color: black !important;
    line-height: 100% !important;
    font-size: 5vw !important;
    border: 0 !important;
    cursor: pointer !important;
    color: white !important;
    font-family: 'aremat font', sans-serif !important;
    height: unset !important;
    padding: 1.6vw 5vw !important;
    border-radius: 4vw !important;
    text-transform: unset !important;
}

.limit-calculation-container {
    display: none;
}

.limit-title, .limit-sub-title {
    font-family: 'Archivo', sans-serif;
    font-size: 4vh;
    color: black;
    font-weight: bold;
    line-height: 100%;
}

.limit-sub-title {
    font-weight: normal;
    font-size: 3vh;
}

.limit-text {
    font-family: 'Archivo', sans-serif;
    font-size: 2vh!important;
    color: #908F8F;
    line-height: 120%;
}

[type="checkbox"]:not(:checked),[type="checkbox"]:checked {
    opacity: 1!important;
    width: 2vh;
    height: 2vh;
    position: unset!important;
    pointer-events: unset!important;
}

.limit-icon-container {
    height: 24vw;
    width: 24vw;
    background: #F8F8F8;
    align-items: center;
    display: flex;
    justify-content: center;
    box-shadow: unset;
    border-radius: 50%;
    flex-shrink: 0;
}

.limit-text-input {
    width: 100%;
    border-radius: 2vh;
    color: #202022;
    background-color: #F8F8F8;
    font-size: 4vw;
    height: 5.9vh;
    padding: 0 4vw;
    border: 0;
    font-family: 'Archivo', sans-serif;
}

.limit-text-input:focus-visible {
    outline: unset !important;
}

.checkbox-container {
    padding: 4vw;
    border-radius: 50%;
    background-color: #F8F8F8;
}

.limit-button {
    width: 100%;
    background-color: black !important;
    line-height: 5.9vh!important;
    font-size: 2vh !important;
    border: 0 !important;
    cursor: pointer !important;
    color: white !important;
    font-family: 'Archivo', sans-serif !important;
    height: 5.9vh !important;
    padding: 0 8vw !important;
    border-radius: 2.9vh !important;
    text-transform: unset !important;
}

.limit-calculation-result-container, .limit-calculation-result-decline-container {
    display: none;
}

.loan-picker {
    height: 5.9vh;
    background-color: #F8F8F8;
    border-radius: 2vh;
    padding: 0 4vw;
}

.arrow-button {
    background: unset!important;
    box-shadow: unset!important;
    height: 2.5vh!important;
    flex-shrink: 0;
}

.arrow-button.disabled {
    opacity: 0!important;
}

.arrow-image {
    width: 2.5vh;
    height: 2.5vh;
}

.limit-sub-title-edit {
    font-family: 'Archivo', sans-serif;
    color: black;
    line-height: 100%;
    font-weight: normal;
    font-size: 2.4vh;
    flex: 1;
    text-align: center;
}


.limit-sub-title-edit-not-center {
    font-family: 'Archivo', sans-serif;
    color: black;
    line-height: 100%;
    font-weight: normal;
    font-size: 2.4vh;
    flex: 1;
}

.limit-final-placeholder {
    font-family: 'Archivo', sans-serif;
    color: #908F8F;
    line-height: 100%;
    font-weight: normal;
    font-size: 1.25vh;
    flex-shrink: 0;
}

.term-select {
    font-family: 'Archivo', sans-serif;
    color: black;
    line-height: 100%;
    font-weight: normal;
    font-size: 2.4vh;
    height: 4vh;
    border: 0;
    background: unset;
    -webkit-appearance: none;
    appearance: unset;
}

.term-select:focus-visible {
    outline: unset !important;
}
